
.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 20px;
    /* position:absolute;
    left:0;
    bottom: 0%;
    right:0; */
}

.Footer .redes_sociais {
    padding: 10px;
}

.redes_sociais a {
    font-size: 1.5em;
    margin: 0px 20px;
}
