.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  margin-top: -82px; */
}
.cadastro-container Form {
  border-radius: 15px;
  background-color: #fffffe;
  padding: 35px;
  -webkit-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.23);
}
.cadastro-container Form input {
  border: none;
  border-bottom: 1px solid #6c757d61;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.cadastro-container button {
  width: 100% !important;
  background-color: #039fbe;
  border: none;
}

.cadastro-container .EsqueciCadastro {
  font-size: 14px;
}
